:root {
    --header-background-color: purple;
    --sidebar-background-color: blue;
    --main-content-background-color: lightgrey;

    --sidebar-width: 200px;
    --header-height: 150px;

    --project-height: 240px;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: var(--header-height) 1fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
    
}

.header {
    /* Styling */
    background-color: var(--header-background-color);

    /* Grid */
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-area: header;
}

.sidebar {
    /* Boxing */
    gap: 40px;
    padding: 18px;

    /* Styling */
    background-color: var(--sidebar-background-color);

    /* Grid */
    display: grid;
    grid-auto-rows: min-content;
    grid-area: sidebar;
    align-items: start;
}

.main-content {
    /* Styling */
    background-color: var(--main-content-background-color);

    /* Gird */
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-area: main-content;

    /* Boxing */
    padding: 64px 32px;
    
}

.projects {
    /* Styling */
    background-color: brown;

    /* Grid */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, var(--project-height));
    gap: 15px;

    /* Boxing */
    margin-right: 32px;
}

/* Creating the titles for the sections in main-content */

.projects, .announcements, .trending {
    position: relative;
}

.projects::before, .announcements::before, .trending::before {
    position: absolute;
    font-size: 1em;
    top: -2em
}

.projects::before {
    content: "Your Projects"; 
}

.announcements::before {
    content: "Announcements";
}

.trending::before {
    content: "Trending";
}

/* Alignment of content inside trending and announcements */

.trending, .announcements {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.trending {
    background-color: chartreuse;
    margin-top: 64px;
}

.announcements {
    background-color: aquamarine;
}

/* Styling of the divs in main-content */

.projects div {
    background-color: yellow;
    height: var(--project-height);
}

.announcements div {
    background-color: chocolate;
    flex-shrink: 0;
    height: 120px;
}

.trending div {
    background-color: darksalmon;
    flex-shrink: 0;
    height: 80px;
}