/* General Properties */

:root {
    --header-background-color: white;
    --sidebar-background-color: rgb(40, 101, 231);
    --main-content-background-color: lightgrey;

    --sidebar-width: 300px;
    --header-height: 200px;

    --project-height: 240px;


    --account-image-standard-width: 80px;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
    cursor: pointer;
}

/* Layout of the Website */

.container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: var(--header-height) 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main-content";

}

.header {
    /* Boxing */
    padding: 16px 32px;

    /* Styling */
    background-color: var(--header-background-color);

    /* Grid */
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-area: header;
}

.sidebar {
    /* Boxing */
    gap: 40px;
    padding: 18px;

    /* Styling */
    color: white;
    background-color: var(--sidebar-background-color);

    /* Grid */
    display: grid;
    grid-auto-rows: min-content;
    grid-area: sidebar;
    align-items: start;
}

.main-content {
    /* Styling */
    background-color: var(--main-content-background-color);

    /* Gird */
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-area: main-content;

    /* Boxing */
    padding: 64px 32px;

}

/* Styling the content of the sidebar */

.sidebar ul {
    list-style-type: none;
    font-weight: bold;
}

.sidebar h1 {
    font-size: 1.7em;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a,
.logo a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;

}

.icon {
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--sidebar-background-color);
    padding: 16px;
}

.logo-icon {
    background-image: url(pictures/anvil.svg);
    padding: 32px;
}

.home-icon {
    background-image: url(pictures/home.svg);
}

.profile-icon {
    background-image: url(pictures/card-account-details-outline.svg);
}

.message-icon {
    background-image: url(pictures/message.svg);
}

.history-icon {
    background-image: url(pictures/clock-time-five-outline.svg);
}

.task-icon {
    background-image: url(pictures/tooltip-edit-outline.svg);
}

.community-icon {
    background-image: url(pictures/account-group.svg);
}

.settings-icon {
    background-image: url(pictures/cog.svg);
}

.support-icon {
    background-image: url(pictures/help-box.svg);
}

.privacy-icon {
    background-image: url(pictures/shield-check.svg);
}

/* Styling the content of the header */

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    background-color: var(--main-content-background-color);
    border-radius: 2em;
    border: 0px;

    padding: 5px;
    width: clamp(200px, 100%, 600px);
}

.account-big,
.account-small {
    display: flex;
    align-items: center;
    gap: 20px;
}

.account-small {
    font-weight: bold;
    justify-content: flex-end;
}

.account-big {
    font-weight: bold;
    font-size: 1.25em;
}

.account-big div {
    display: grid;
}

.account-big div span:first-child {
    font-size: 0.75em;
}

.account-big img {
    width: var(--account-image-standard-width);
    height: auto;
}

.account-small img {
    width: calc(0.6 * var(--account-image-standard-width));
    height: auto;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}

.actions button {
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    height: 3em;
    background-color: var(--sidebar-background-color);
    padding: 8px 16px;
    width: 100px;
    border: 0px;
    border-radius: 32px;
}

.icon-button {
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--header-background-color);
    border: 0px;
    padding: 16px;
    border-radius: 32px;
}

.bell-button {
    background-image: url(pictures/bell-outline.svg);
}

.search-button {
    background-image: url(pictures/magnify.svg);
}

/* Styling of the Main Content */

.projects {
    /* Grid */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, var(--project-height));
    gap: 15px;

    /* Boxing */
    margin-right: 32px;
}

.announcements {
    box-sizing: border-box;
    background-color: var(--header-background-color);
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 16px;
    padding: 32px;
}

.trending {
    box-sizing: border-box;
    background-color: var(--header-background-color);
    margin-top: 64px;
    border-radius: 16px;
    padding: 32px;
}

/* Creating the titles for the sections in main-content */

.projects,
.announcements,
.trending {
    position: relative;
}

.projects h1,
.announcements h1,
.trending h1 {
    position: absolute;
    font-size: 1.2em;
    font-weight: bold;
    top: -2em;
    left: 0px;
}

/* Styling of the divs in main-content */

.projects div {
    background-color: var(--header-background-color);
    height: var(--project-height);
    border-radius: 16px;
}

/* Designing the Announcements Part */

.announcements div {
    box-sizing: border-box;
    padding: 12px 0px;
    flex-shrink: 0;
    height: auto;
    display: flex;
    flex-direction: column;
}


.announcements div span:first-child {
    font-weight: bold;
}

.announcements > :nth-child(n + 3) {
    border-top: solid;
    border-width: 2px;
    border-color: lightgray;
}

.announcements div>span+span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Designing the Trending Part */

.trending>div {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 12px;
    height: auto;
}

.trending div img {
    width: calc(0.8 * var(--account-image-standard-width));
    height: auto;
}

.trending div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trending div div>span+span {
    color: grey;
}